@media only screen and (max-width: 580px) {
    .nav-link.wallet {
        padding: 10px 5px !important;
        font-size: 14px;
    }

    #appWalletBalanceNavBar{
        display: none;
    }

    #appWalletBalanceSidebar {
        display: block;
        padding: 6px 26px !important;
        font-size: 14px;
        background: #af2532;
    }

}

@media only screen and (min-width: 580px) {

    #appWalletBalanceNavBar{
        display: block;
    }

}


